# Build artifacts
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# SQLite databases
*.db
*.db-shm
*.db-wal

# Test results
*.trx
TestResults/

# Visual Studio
.vs/

# Rider
.idea/

# Package directories
*.nupkg

# NuGet files
package.lock.json
**/packages.lock.json

# JetBrains
*.ReSharper*
